@model ChampionshipWeb.Models.championship

@{
    ViewBag.Title = "Details";
}


<div>
    <h2>Чемпионат</h2>
    <hr />
    <dl class="dl-horizontal">
        <h2>
            @Html.DisplayFor(model => model.name)
        </h2>
    </dl>
</div>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.id })
    }
</p>

@Html.Partial("~/Views/Stages/_Index.cshtml", ViewBag.allStages as IEnumerable<ChampionshipWeb.Models.stage>);


