@model ChampionshipWeb.Models.stage

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверенны, что хотите удалить это?</h3>
<div>
    <h4>Этап</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Чемпионат
        </dt>

        <dd>
            @Html.DisplayFor(model => model.championship.name)
        </dd>

        <dt>
            Тип этапа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_of_stage.name_ru)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
