body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:white; 
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.body-image {
    background: url(0.jpg); 
    background-size: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Меню */
.menu {
    font-family: Arial, Sans-Serif; 
    width:99%; 
    height:50px; 
    position:relative;
    z-index:100;
}

.menu ul li a, .menu ul li a:visited {
    display:block; 
    text-decoration:none;
    width:104px; 
    max-height:100px; 
    text-align:center; 
    color:black; 
    border:1px solid #fff; 
    background:silver; 
    line-height:30px; 
    font-size:13px; 
    overflow:hidden; 
    vertical-align: middle;
}

.menu ul {
    padding:0; 
    margin:0; 
    list-style: none;
}
.menu ul li {
    float:left; 
    position:relative;
    vertical-align: middle;
}